<div class="addFieldWrapper" *ngIf="addFlag">
  <p>{{formRequestFields.title}}</p>
  <form class="form" [formGroup]="profileForm" (ngSubmit)="omSubmit()">
    <label
      >{{formRequestFields.firstRow}}:
      <input
        type="text"
        placeholder="{{formRequestFields.firstRow  | lowercase}}"
        formControlName="{{formRequestFields.firstRow}}"
    /></label>
    <div
      class="alert alert-danger"
      *ngIf="
        profileForm.controls[formRequestFields.firstRow].invalid &&
        profileForm.controls[formRequestFields.firstRow].touched
      "
    >
      Undefined or uncorrect name field.
    </div>
    <br />
    <label
      >{{formRequestFields.secondRow}}:
      <input
        type="text"
        placeholder="{{formRequestFields.secondRow  | lowercase}}"
        formControlName="{{formRequestFields.secondRow}}"
    /></label>
    <div
      class="alert alert-danger"
      *ngIf="
        profileForm.controls[formRequestFields.secondRow].invalid &&
        profileForm.controls[formRequestFields.secondRow].touched
      "
    >
      Undefined or uncorrect Lastname field.
    </div>
    <br />
    <label
      >[{{formRequestFields.thirdRow}}:
      <input
        type="text"
        placeholder="{{formRequestFields.thirdRow  | lowercase}}"
        formControlName="{{formRequestFields.thirdRow}}"
    /></label>
    <br />
    <label
      >{{formRequestFields.fourthRow}}:
      <textarea
        placeholder="{{formRequestFields.fourthRow  | lowercase}}"
        formControlName="{{formRequestFields.fourthRow}}"
      ></textarea
    ></label>
    <br />
    <button type="submit" [disabled]="!profileForm.valid">Add</button>
  </form>
</div>
