@import "../../common/constants/colors.less";

.subjectName {
  text-transform: capitalize;
}

.teacherName, .subjectName {
  margin-left: 20%;
}

.table {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-collapse: collapse;
  &__header {
    background-color: @tableHeaderColor;
  }
  &__input,
  &__input_teacher {
    max-width: 20px;
    text-align: center;
    background-color: @textColorUnvisible;
    border: none;
    color: @textColor;
    &_header {
      max-width: 40px;
    }
    &_teacher {
      max-width: none;
      padding: 5px;
      border: 3px solid @formBorderColor;
      border-radius: 3px;
    }
  }
  &__input:focus,
  &__input_teacher:focus {
    min-width: 50px;
    background-color: @textColor;
    color: @textColorShadow;
    outline: none;
  }
}

.table__header,
td {
  max-width: 200px;
  min-width: 100px;
  height: 30px;
  border: 1px @textColor solid;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
