<h2 class="subjectName">{{ subject }}</h2>

<table class="table">
  <tr>
    <th class="table__header">
      Name
    </th>
    <th class="table__header">
      Lastname
    </th>
    <th class="table__header">
      Average
    </th>
    <th
      class="table__header"
      *ngFor="let i of Object.values(students[0].subjects[subject].date), let ind = index"
    >
      <input
        class="table__input table__input_header"
        #date
        (focusout)="changeDate(date.value, ind+1)"
        [ngModel]="i | date"
      />
    </th>
    <div class="table__button_addColumn" (click)="addDateColumn()">+</div>
  </tr>
  <tbody>
    <tr *ngFor="let i of students">
      <td>{{ i.name }}</td>
      <td>{{ i.lastName }}</td>
      <td>{{ i.subjects[subject].marks | average }}</td>
      <td *ngFor="let j of Object.values(i.subjects[subject].marks), let ind = index">
        <input
          *ngIf="i.subjects[subject].marks"
          class="table__input"
          [ngModel]="j"
          #mark
          (focusout)="changeMark(mark.value, ind+1, i)"
        />
      </td>
    </tr>
  </tbody>
</table>

<h3 class="teacherName">
  Teacher:
  <input
    class="table__input_teacher"
    [ngModel]="students[0].subjects[subject].teacher"
    #teacher
    (focusout)="changeTeacher(teacher.value)"
  />
</h3>

<div *ngIf="isChanged" appSomeDirective="isChanged" (click)="postData()"></div>

