<h2 class="subjectName">{{ subject }}</h2>

<table class="table">
  <tr>
    <th class="table__header">
      Name
    </th>
    <th class="table__header">
      Lastname
    </th>
    <th class="table__header">
      Average
    </th>
    <th
      class="table__header"
      *ngFor="let i of students[0].subjects[subject].date"
    >
      <input class="table__input table__input_header" [(ngModel)]="i" />
    </th>
    <div class="table__button_addColumn" (click)="addDateColumn()">+</div>
  </tr>
  <tbody>
    <tr *ngFor="let i of students">
      <td>{{ i.name }}</td>
      <td>{{ i.lastName }}</td>
      <td>0</td>
      <td *ngFor="let j of i.subjects[subject].marks">
        <input
          *ngIf="i.subjects[subject].marks"
          class="table__input"
          [(ngModel)]="j"
        />
      </td>
    </tr>
  </tbody>
</table>

<h3 class="teacherName">
  Teacher:
  <input
    class="table__input_teacher"
    [(ngModel)]="students[0].subjects[subject].teacher"
  />
</h3>

<div *ngIf="changes" class="button__post" (click)="postData()">Save</div>
