<table appTable *ngIf="!isComponentTemplateHidden && students[0]">
  <tr>
    <th
      (click)="sortRows(item)"
      class="table__header table__header_sortItem"
      *ngFor="let item of tableHeaders"
    >
      {{ item | translate }}
    </th>
  </tr>
  <tbody>
    <tr *ngFor="let i of students">
      <td>{{ i.id }}</td>
      <td class="table__tableData_studentName">{{ i.name }}</td>
      <td>{{ i.lastName }}</td>
      <td>{{ i.address }}</td>
      <td class="table__tableData_description">{{ i.description }}</td>
    </tr>
  </tbody>
</table>

<app-loader *ngIf="!students[0]"></app-loader>

<ng-container *ngIf="students[0]">
    <app-popup [popUpInfo]="popUpInfo"></app-popup>
</ng-container>

<p class="form__title" *ngIf="isComponentTemplateHidden">{{"STUD.title" | translate}}</p>

<app-form
  [isParentTemplateHidden]="isComponentTemplateHidden"
  [formControles]="formControles"
  (hiddenParentTemplate)="hiddenTemplate($event)"
  (transferFormData)="receiveFormData($event)"
>
</app-form>

<app-button *ngIf="!isComponentTemplateHidden && students[0]" (raiseEventUp)="toggleTemplateVisibility()">+</app-button>
<app-button *ngIf="isComponentTemplateHidden && students[0]" (raiseEventUp)="toggleTemplateVisibility()">-</app-button>