.table {
  margin: 0 auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table__header,
td {
  border: 1px #fff solid;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.table__header {
  background-color: rgb(14, 50, 107);
}

.table__tableData_description {
  text-overflow: ellipsis;
}

.studentaAddedButton {
  margin: 5px 20%;
}
