<table appTable *ngIf="!isVisible">
  <tr>
    <th (click)="sortRows(item)" class="table__header table__header_sortItem" *ngFor="let item of tableHeaders">
      {{ item | translate }}
    </th>
  </tr>
  <tbody>
    <tr *ngFor="let i of students$ | async">
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.lastName }}</td>
      <td>{{ i.address }}</td>
      <td class="table__tableData_description">{{ i.desription }}</td>
    </tr>
  </tbody>
</table>

<app-popup [popUp]="popUp"></app-popup>

<app-form
  [isVisible]="isVisible"
  (hiddenVisibility)="hiddenVisibility($event)"
  (transferFormData)="transferFormData($event)"
  ><span data-form-title>{{ "STUD.title" | translate}}</span>
  <span #formControlsData data-form-firstInput>Name</span>
  <span #formControlsData data-form-secondInput>Lastname</span>
  <span #formControlsData data-form-thirdInput>Address</span>
  <span #formControlsData data-form-fourthInput>Description</span>
</app-form>

<app-button (toggleVisibility)="toggleVisibility()"></app-button>
