<section class="subjectsWrapper" *ngIf="!isComponentTemplateHidden">
  <h2 class="subjectsWrapper__title">
    {{ "SUB.title" | translate }}
  </h2>
  <div
    class="subjectsWrapper__box"
    *ngFor="let i of subjects"
    routerLink="{{ i }}"
  >
    {{ i | translate }}
  </div>
</section>

<ng-container *ngIf="isNewSubjectAdded">
  <app-popup [popUpInfo]="popUpInfo"></app-popup>
</ng-container>

<p class="form__title" *ngIf="isComponentTemplateHidden">{{"SUB.add" | translate}}</p>

<app-form
  [isParentTemplateHidden]="isComponentTemplateHidden"
  [formControles]="formControles"
  (hiddenParentTemplate)="hiddenTemplate($event)"
  (transferFormData)="receiveFormData($event)"
>
</app-form>

<app-button *ngIf="!isComponentTemplateHidden" (raiseEventUp)="toggleTemplateVisibility()">+</app-button>
<app-button *ngIf="isComponentTemplateHidden" (raiseEventUp)="toggleTemplateVisibility()">-</app-button>
