<section class="subjectsWrapper" *ngIf="!isComponentTemplateHidden">
  <h2 class="subjectsWrapper__title">
    {{ "SUB.title" | translate }}
  </h2>
  <div
    class="subjectsWrapper__box"
    *ngFor="let i of subjects"
    routerLink="{{ i }}"
  >
    {{ i | translate }}
  </div>
</section>

<div *ngIf="isNewSubjectAdded">
  <app-popup [popUpInfo]="popUpInfo"></app-popup>
</div>  

<app-form
  [isParentTemplateHidden]="isComponentTemplateHidden"
  (hiddenParentTemplate)="hiddenTemplate($event)"
  (transferFormData)="receiveFormData($event)"
  ><span data-form-title>{{ "SUB.add" | translate}}</span>
  <span #formControlsData data-form-firstInput>Subject</span>
  <span #formControlsData data-form-secondInput>Teacher</span>
  <span #formControlsData data-form-thirdInput>Cabinet</span>
  <span #formControlsData data-form-fourthInput>Description</span>
  ></app-form
>

<app-button (toggleParentTemplateVisibility)="toggleTemplateVisibility()"></app-button>