<div class="addFieldWrapper" *ngIf="isVisible">
  <p><ng-content select="[data-form-title]"></ng-content></p>
  <form class="form" [formGroup]="profileForm" (ngSubmit)="save()">
    <label
      [ngClass]="{
        form__label: true,
        form__input_invalidField: validationMessage
      }"
      ><p><ng-content select="[data-form-firstInput]"></ng-content>:</p>
      <span class="flex-grow-template"></span>
      <input
        class="form__input form__input_needValidationField"
        type="text"
        placeholder="{{ formControlsNames[0] | lowercase }} (required)"
        formControlName="{{ formControlsNames[0] }}"
        (blur)="onBlur()"
    /></label>
    <span class="form__input_invalidFieldSignature" *ngIf="validationMessage.Name">
      {{ validationMessage.Name }}
    </span>
    <br />
    <label class="form__label"
      ><p><ng-content select="[data-form-secondInput]"></ng-content>:</p>
      <span class="flex-grow-template"></span>
      <input
        class="form__input form__input_needValidationField"
        type="text"
        placeholder="{{ formControlsNames[1] | lowercase }} (required)"
        formControlName="{{ formControlsNames[1] }}"
        (blur)="onBlur()"
    /></label>
    <span class="form__input_invalidFieldSignature" *ngIf="validationMessage.LastName">
      {{ validationMessage.LastName }}
    </span>
    <br />
    <label class="form__label"
      ><p><ng-content select="[data-form-thirdInput]"></ng-content>:</p>
      <span class="flex-grow-template"></span>
      <input
        class="form__input"
        type="text"
        placeholder="{{ formControlsNames[2] | lowercase }}"
        formControlName="{{ formControlsNames[2] }}"
    /></label>
    <br />
    <label class="form__label"
      ><p><ng-content select="[data-form-fourthInput]"></ng-content>:</p>
      <span class="flex-grow-template"></span>
      <textarea
        class="form__textarea"
        placeholder="{{ formControlsNames[3] | lowercase }}"
        formControlName="{{ formControlsNames[3] }}"
      ></textarea
    ></label>
    <br />
    <button
      class="form__submitButton"
      type="submit"
      [disabled]="!profileForm.valid"
      [ngClass]="{ form__submitButton_invalid: !profileForm.valid }"
    >
      Add
    </button>
  </form>
</div>
