<div [class.addFieldWrapper]="true" *ngIf="addFlag">
  <p>{{formRequestFields.title}}</p>
  <form [class.form]='true' [formGroup]="profileForm" (ngSubmit)="omSubmit()">
    <label
      >Name: <input type="text" placeholder="name" formControlName='{{formRequestFields.firstRoW}}'
    /></label>
    <div class="alert alert-danger"
    *ngIf="profileForm.controls['studentName'].invalid && profileForm.controls['studentName'].touched">
    Undefined or uncorrect name field.
</div>
    <br />
    <label
      >Lastname:
      <input type="text" placeholder="lastname" formControlName="studentLastname"
    /></label>
    <div class="alert alert-danger"
    *ngIf="profileForm.controls['studentLastname'].invalid && profileForm.controls['studentLastname'].touched">
    Undefined or uncorrect Lastname field.
</div>
    <br />
    <label>Address:
    <input
      type="text"
      placeholder="name"
      formControlName="studentAddress"
    /></label>
    <br />
    <label>Discription:
    <textarea
      placeholder="description"
      formControlName="studentDescription"
    ></textarea></label>
    <br />
    <button type="submit" [disabled]="!profileForm.valid">Add</button>
  </form>
</div>
