@formBorderColor: rgb(128, 128, 128);

.addFieldWrapper {
  margin: 0 20%;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 3px solid @formBorderColor;
  border-radius: 5px;
  button {
      width:50px;
  }
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}