<div class="addFieldWrapper" *ngIf="isParentTemplateHidden">
  <app-form-schema
    [profileForm]="profileForm"
    [formControles]="formControles"
    [formGroup]="profileForm"
    (raiseBooleanValueUp)="hiddenTempl($event)"
    (transferDataUp)="transferData($event)"
  >
    <div form-schema-control>
      <ng-container *ngFor="let controls of formControles">
        <label class="form__label">{{controls}}
          <input
          *ngIf="controls !== formControles[formControles.length - 1]"
            type="text"
            placeholder={{controls}}
            [formControlName]=controls
        /></label>
        <br />
        <label class="form__label">
          <textarea
          *ngIf="controls === formControles[formControles.length - 1]"
            placeholder={{controls}}
            [formControlName]=controls
          ></textarea
        ></label>
      </ng-container>
    </div>

    <div form-schema-actions>
      <button type="submit">
        Add
      </button>
    </div>
  </app-form-schema>
</div>
