<nav [class.navigation]="true">
  <ul [class.navigation__unorderedList]="true">
    <ng-template ngFor let-item [ngForOf]="routs">
      <li
        [class.navigation__listItem]="true"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [class.navigation__link]="true" routerLink="{{ item }}">{{
          item | slice: 1 | uppercase
        }}</a>
      </li>
    </ng-template>
  </ul>
</nav>

<table [class.table]="true">
  <tr>
    <th [class.table__header]="true" *ngFor="let item of tableHeaders">
      {{ item }}
    </th>
  </tr>
  <tr *ngFor="let i of students; index as ind">
    <td>{{ ind + 1 }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.lastName }}</td>
    <td>{{ i.address }}</td>
    <td [class.table__tableData_description]="true">{{ i.desription }}</td>
  </tr>
</table>

<button [class.studentaAddedButton]="true" (click)="addNewStudent()">
  {{ addFlag ? 'Back' : 'Add' }}
</button>

<app-add-student
  [addFlag]="addFlag"
  [formRequestFields]="formRequestFields"
  (changedVisibility)="changedVisibility($event)"
  (transferFormData)="transferFormData($event)"
></app-add-student>
