<div class="statisticWrapper">
  <section class="filter">
    <div class="filter__menu">
      <div
        [ngClass]="{ activeTitle: activeLinkPointer === 'students' }"
        class="filter__menu_title"
        (click)="showFilterContent('students')"
      >
        {{ "Students" | translate | uppercase }}
      </div>
      <div
        [ngClass]="{ activeTitle: activeLinkPointer === 'subjects' }"
        class="filter__menu_title"
        (click)="showFilterContent('subjects')"
      >
        {{ "Subjects" | translate | uppercase }}
      </div>
    </div>
    <div *ngIf="activeLinkPointer === 'students'" class="filter__box">
      <ul
        class="filter__content_unOrderedList"
        *ngFor="let i of (students$ | async); let ind = index"
      >
        <li
          [ngClass]="{ activeStudent: ind === listIndex }"
          class="filter__content_listItem"
          (click)="showStudentDescription(ind)"
        >
          {{ i.name }} {{ i.lastName }}
        </li>
      </ul>
    </div>
    <div *ngIf="activeLinkPointer === 'subjects'">
      <app-dropdown></app-dropdown>
    </div>
  </section>
  <section class="presentation">
    <div *ngIf="name && activeLinkPointer === 'students'">
      <h2>{{ name }}</h2>
      <p>
        <span> {{ "Description" | translate }}: {{ description }}</span>
      </p>
      <p>
        <span> {{ "Address" | translate }}: {{ address }}</span>
      </p>
    </div>
    <div id="star" #star></div>
    <div id="donutChart" #chart></div>
    <div *ngIf="activeLinkPointer === 'subjects'">
      <div *ngFor="let subj of subjects">
        {{ subj }}
        <div
          class="presentation__student"
          *ngFor="let stud of (statistic$ | async)"
        >
          <div *ngIf="stud.subjects[subj].length">
            {{ stud.name }}
            <span *ngFor="let marks of stud.subjects[subj]">
              {{ marks }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
